* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

/* Estiliza a barra de rolagem para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 6px; /* Largura da barra */
}

/* Fundo da barra de rolagem (opcional, aqui deixado transparente) */
::-webkit-scrollbar-track {
    background: transparent; /* Sem fundo */
}

/* Estilização do "polegar" da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: #c4c4c4; /* Cor da barra */
    border-radius: 3px; /* Borda arredondada */
}

.app {
    max-width: 450px;
    margin: 0 auto;
    height: 100vh;
    overflow-y: auto;
    background-color: #E9EAEB;
}

.content {
    padding: 20px 30px;
}
