* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E9EAEB;
    overflow-x: hidden;
}

.app {
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
    overflow-y: auto;
}

.content {
    padding: 20px 30px;
}
