* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 3px;
}

.app {
    max-width: 450px;
    margin: 0 auto;
    height: 100vh;
    overflow-y: auto;
    background-color: #E9EAEB;
    user-select: none;
}

.content {
    padding: 20px 30px;
}
