.teams {
    margin-top: 15px;
}

.title {
    color: #333652;
    font-size: 18px;
    width: auto;
    display: inline-block;
    border: none;
    outline: none;
}

.title:empty:before {
    content: "My Team";
    color: #8f8f8f; 
}

.title[contenteditable="true"] {
    background-color: #d1d1d1;
}

.editButton {
    background: none;
    border: none;
    color: #333652;
    cursor: pointer;
    margin-left: 10px;
    font-size: 15px;
}

.slotContainer {
    margin-top: 30px;
}

.slotGroup {
    display: flex;
    width: 100%;
    gap: 15px;
    margin-top: 30px;
}

.slotGroup:first-of-type {
    justify-content: center;
}

.slotGroup:nth-of-type(2) {
    justify-content: flex-end;
}

.slot {
    box-sizing: content-box;
    border: 5px solid transparent;
    width: calc(100%/4);
    max-width: 90px;
    position: relative;
    height: 90px;
}

.slotObject {
    position: absolute;
    pointer-events: none;
    z-index: 0;
}

.slot img {
    cursor: grab;
    z-index: 1;
    animation: elastic 0.5s ease;
}

@keyframes elastic {
    0% { transform: scale(0.5); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes shake {
    0% { transform: rotate(15deg); }
    50% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}

.selectedSlot {
    border: 5px dashed #4ecaf0;
    border-radius: 50%;
    animation: shake 0.4s ease;
}
